<?xml version="1.0" encoding="UTF-8"?>
<document
  xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>io7m-jequality</title>
  </properties>

  <body>
    <subsection name="jequality">
      <p>The <var>jequality</var> package implements a set of
      functions, types, and annotations for dealing with equality
      in Java.</p>
    </subsection>
    <subsection name="Features">
      <ul>
        <li>Functions for performing approximate comparisons of floating point values.</li>
        <li>Annotations for indicating what type of equality a class uses, with a validator to check correctness.</li>
        <li>Full unit test coverage.</li>
        <li><a href="https://www.osgi.org/">OSGi</a>-ready.</li>
        <li>ISC license.</li>
      </ul>
    </subsection>
  </body>

</document>
